<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>搜索页面</title>

    <link href="/index/static/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css"/>
    <link href="/index/static/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css"/>

    <link href="/index/static/basic/css/demo.css" rel="stylesheet" type="text/css"/>

    <link href="/index/static/css/seastyle.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/index/static/basic/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="/index/static/js/script.js"></script>
</head>

<body>

{include file="../template/common/header.html"}

<div class="clear"></div>
<b class="line"></b>
<div class="search">
    <div class="search-list">
        <div class="nav-table">
            <div class="long-title"><span class="all-goods">全部分类</span></div>
            <div class="nav-cont">
                <ul>
                    <li class="index"><a href="{:url('index/index/index')}">首页</a></li>
                </ul>
            </div>
        </div>


        <div class="am-g am-g-fixed">
            <div class="am-u-sm-12 am-u-md-12">
                <div class="theme-popover">
                    <div class="searchAbout">

                    </div>
                    <ul class="select">
                        <p class="title font-normal">
                            <span class="fl">{$search}</span>
                            <span class="total fl">搜索到<strong class="num"></strong>件相关商品</span>
                        </p>

                        <div class="clear"></div>
                        <li class="select-result">
                            <dl>
                                <dt>已选</dt>
                                <dd class="select-no"></dd>
                                <p class="eliminateCriteria">清除</p>
                            </dl>
                        </li>
                        <div class="clear"></div>

                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="search-content">
                    <div class="sort">
                        <li class="first"><a title="综合">综合排序</a></li>
                    </div>
                    <div class="clear"></div>

                    <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">
                        {foreach name="searchData" item="vo"}
                        <li>
                            <div class="i-pic limit">
                                <a href="{:url('index/goods/index',['gid'=>$vo['goods_id']])}"><img
                                        src="{$vo['list_img']}"/></a>
                                <p class="title fl">
                                    <a href="{:url('index/goods/index',['gid'=>$vo['goods_id']])}">
                                        {$vo['goods_name']} &nbsp;&nbsp;&nbsp; {$vo['goods_desc']}
                                    </a>
                                </p>
                                <p class="price fl">
                                    <b>¥</b>
                                    <strong>{$vo['price']}</strong>
                                </p>
                                <p class="number fl">
                                    销量<span>{$vo['click']}</span>
                                </p>
                            </div>
                        </li>
                        {/foreach}
                    </ul>
                </div>
                <div class="search-side">

                    <div class="side-title">
                        经典搭配
                    </div>
                    {foreach name="randData" item="vo"}
                    <li>
                        <div class="i-pic check">
                            <a href="{:url('index/goods/index',['gid'=>$vo['goods_id']])}"><img src="{$vo['list_img']}"/></a>
                            <p class="check-title"><a href="{:url('index/goods/index',['gid'=>$vo['goods_id']])}">{$vo['goods_name']}</a></p>
                            <p class="price fl">
                                <b>¥</b>
                                <strong>{$vo['price']}</strong>
                            </p>
                            <p class="number fl">
                                销量<span>{$vo['click']}</span>
                            </p>
                        </div>
                    </li>
                    {/foreach}
                </div>
                <div class="clear"></div>

            </div>
        </div>
        {include file="../template/common/footer.html"}
    </div>

</div>
{include file="../template/common/menu.html"}
<script>
    window.jQuery || document.write('<script src="/index/static/basic/js/jquery-1.9.min.js"><\/script>');
</script>
<script type="text/javascript" src="/index/static/basic/js/quick_links.js"></script>
<script>
    var l=$('ul.boxes li').length;
    $('.num').text(l);
</script>
<div class="theme-popover-mask"></div>
</body>
</html>