{extend name="master" /}
{block name="content"}

<ul class="nav nav-tabs" role="tablist">
    <li><a href="/admin/slide">轮播图管理</a></li>
    <li class="active"><a href="/admin/slide/create">轮播图添加</a></li>
</ul>
<form action="" method="POST" class="form-horizontal" onsubmit="post(this,event)" role="form">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">轮播图管理</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">名称</label>
                <div class="col-sm-10">
                    <input type="text" name="slide_name" class="form-control" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">排序</label>
                <div class="col-sm-10">
                    <input type="text" name="slide_sort" class="form-control" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">链接</label>
                <div class="col-sm-10">
                    <input type="text" name="slide_url" class="form-control" placeholder="">
                </div>
            </div>
            <style>
                input.layui-upload-file{
                    display: none;
                }
            </style>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">预览图</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input class="form-control" name="preview" readonly="" value="">
                            <div class="input-group-btn">
                                <button id="test1" class="btn btn-default layui-btn" type="button">选择图片</button>
                            </div>
                        </div>
                        <div class="input-group" style="margin-top:5px;">
                            <img src="/admin/nopic.jpg"
                                 class="img-responsive img-thumbnail" width="150">
                            <em class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片"
                                onclick="removeImg(this)">×</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary">提交</button>
</form>
<script>
    //上传图片
    layui.use('upload', function(){
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: '/component/uploader/upload' //上传接口
            ,done: function(res){
                //console.log(res.message)
                $('.img-thumbnail').attr('src',res.message);
                $('input[name=preview]').val(res.message)
            }
            ,error: function(){
                //请求异常回调
            }
        });
    });
</script>
<script>
    function post(obj,e) {
        event.preventDefault();
        //抓取表单数据
        var data=$(obj).serialize();
        //post方式发送异步：请求地址、发送数据、成功回调、返回的数据类型
        $.post("/slide",data,function (res) {
            if(res.code==1){
                layer.msg(res.msg, {icon: 1},function () {
                    location.href = res.url;
                });
            }else{
                layer.msg(res.msg, function(){});
            }
        },'json')
    }
</script>
<script>
    //移除图片
    function removeImg(obj) {
        $(obj).prev('img').attr('src', '/admin/nopic.jpg');
        $(obj).parent().prev().find('input').val('');
    }
</script>

{/block}
