<div class="footer ">
    <div class="footer-hd ">
        <p>
            <a href="# ">陈涛博客</a>
            <b>|</b>
            <a href="{:url('index/index/index')}" >商城首页</a>
            <b>|</b>
            <a href="javascript:;">物流</a>
        </p>
    </div>
    <div class="footer-bd ">
        <p>
            <a href="http://cms.chentao.xin/" target="_blank">关于博客</a>
            <a href="http://cms.chentao.xin/" target="_blank">合作伙伴</a>
            <a href="http://cms.chentao.xin/" target="_blank">联系我们</a>
            <em>© 2017-2017 chentao.xin 版权所有</em>
        </p>
    </div>
</div>